version: '3'

services:
  db:
    container_name: postgres_database
    image: postgres:15-alpine
    ports:
      - 5432:5432  # enables connecting locally via psql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: fleetDb
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgresdb:/var/lib/postgresql/data
  pgAdmin:
    depends_on:
      - db
    image: dpage/pgadmin4:6.17
    ports:
      - "8080:80"
    volumes:
      - ./pgadmin:/var/lib/pgadmin
    environment:
      - PGADMIN_DEFAULT_PASSWORD=123456 
      - PGADMIN_DEFAULT_EMAIL=superman@google.com
volumes:
  postgresdb:
    external: true


    # docker-compose.yml

